.download-btn{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
}

.src {
    border-radius: 50%;
    width: 50px;
    height: 40x;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #FFD700;
}

.download-btn {
    background-color: #FFD700;
    border: none;
    color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #FFC107;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #4CAF50;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}